# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Local Environment & Secrets
.env
.env.local

# IDEs
.vscode/
.idea/

# Temp & Previews
test_output.html
test_output_*.html
